* {
  border: 1px solid rgb(109, 156, 162)
}
body {
  margin: 0% 0% 0% 0%;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

button {
  border: none;
  background: transparent;
  font-size: 3vh;
  color: rgb(175, 174, 174);
  margin: 0% 0% 2% 5%;
}

header {
  background-color: rgb(56, 56, 56);
  padding-top: 1%;
}

h1 {
  color: white;
  font-weight: bold;
  display: flex;
  justify-content: flex-end;
}

h2 {
  color: rgb(56,56,56);
}

img{
  width:100%;
  max-width:20%;
}

.container--cards {
  display: grid;
  grid-template-columns: auto auto auto;
  background-color: #2196F3;
  padding: 10px;
}

.menu--admin-user {
  display: flex;
  justify-content: flex-end;
}

.section--recipient-card {
  background-color: rgba(255, 255, 255, 0.8);
  border: 1px solid rgba(0, 0, 0, 0.8);
  padding: 20px;
  font-size: 30px;
  text-align: center;
  box-shadow: 11% 11% 1% 1%  grey;
}

