body {
  margin: 0% 0% 0% 0%;
  font-family:Arial, Helvetica, sans-serif;
  background-color: rgb(233, 224, 218);
  max-width: fit-content;
}

button {
  border: none;
  background: transparent;
  font-size: 2.5vh;
  color: rgb(175, 174, 174);
  margin: 0% 0% 2% 3%;
}

button:hover {
  color:#FFFFFF;
  transition: 0.5s;
}

button:focus {
  outline-color: transparent;
  outline-style:solid;
  box-shadow: 0 0 0 4px rgb(255, 251, 0)
}

header {
  background-color: rgb(56, 56, 56);
  padding-top: 1%;
}

h1 {
  color: white;
  font-weight: bold;
  font-size: 7vh;;
  padding-right: 2%;
  margin-bottom: -2%;

}

h2 {
  color: rgb(56,56,56);
  font-size: 6vh;
  padding: 1%;
}

h3 {
  margin-top: -0%;
  color:rgb(20, 186, 223)
}

h4 {
  margin: 2% 0% 0% 0%;
  font-size: 3vh;
}

p{
  margin-bottom: -0%;
  font-size: 2vh;
}

img{
  width:100%;
  opacity: 0.7;
}

img:hover {
  opacity: 1.0;
  cursor: pointer;
}

.card--admin {
  display: flex;
  align-content: flex-end;
  flex-direction: column;
  align-items: flex-end;
  margin-top: -1%;
}

.container--cards {
  display: grid;
  flex-basis: auto;
  grid-template-columns: auto auto auto auto;
  padding: 10px;
  margin: 1%;
}

.container--card-image {
  position: relative;
  text-align: center;
  color: white;
}

.container--card-info {
  background-color: rgba(255, 255, 255, 0.8);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding-left: 2%;
  margin: -2% 0% 22% 0%;
}

.container--recipient-card {
  font-size: 30px;
  text-align: center;
  box-shadow: 1px 1px 10px rgb(135, 134, 134);
  width: 85%;
  height: 90%;
}

.container---url {
  background-color: rgb(227, 227, 227);
  padding-bottom: 5%;
  padding-left: 7%;
  padding-right: 7%;
  margin-left: 1%;
  margin-top: 1%;
}

.container---url:hover, .icon--bottom-left {
  cursor: pointer;
}

.icon--bottom-left {
  position: absolute;
  font-size: 100%;
  bottom: 100%;
  left: 10%;
  padding: 4%;
  border-radius: 10px;
  background-color:rgba(0, 0, 0, 0.8)
}

.image-text--top-right {
  position: relative;
  font-size: 100%;
  bottom: 42%;
  left: 32%;
  padding: 4%;
  color: white;
  text-shadow: 2px 2px 3px #4c4c4c;
}

.menu--admin-user {
  display: flex;
  justify-content: flex-end;
  color: rgb(255, 221, 0);
  padding-right: 3%;
  font-size: 3vh;
}

.section--recipient-card {
  font-size: 30px;
  text-align: center;
  box-shadow: 1px 1px 10px rgb(135, 134, 134);
  width: 85%;
  height: 90%;
} 
